# -----------------------------------------------------------------------------
# Python / Django
# -----------------------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyc
.venv/
staticfiles/
*.sqlite3
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.egg-info/

# -----------------------------------------------------------------------------
# Node / Angular
# -----------------------------------------------------------------------------
node_modules/
dist/
build/
.angular/
npm-debug.log*

# -----------------------------------------------------------------------------
# Comum
# -----------------------------------------------------------------------------
.env